mixin navbar(options)

    nav.navbar.navbar-marketing.navbar-expand-lg(class=options.navbarBg, class=options.navbarStyle, class=options.navbarPosition)
        div(class=options.navbarContainer)
            a.navbar-brand(href='index.html', class=options.navbarBrandColor)
                | Vlad Bulvakhter
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                i(data-feather='menu')
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.ml-auto.mr-lg-5
                    li.nav-item
                        a.nav-link(href='index.html')
                            | Home
                    li.nav-item.dropdown.dropdown-xl.no-caret
                        a#navbarDropdownDemos.nav-link.dropdown-toggle(href='#projects')
                            | Projects
                            i.fas.fa-arrow-down.dropdown-arrow

                    li.nav-item.dropdown.dropdown-lg.no-caret
                        a#navbarDropdownPages.nav-link.dropdown-toggle(href='#about')
                            | About Me
                            i.fas.fa-arrow-down.dropdown-arrow

                    li.nav-item.dropdown.no-caret
                        a#navbarDropdownDocs.nav-link.dropdown-toggle(href='#stack')
                            | My Stack
                            i.fas.fa-arrow-down.dropdown-arrow

                    li.nav-item.dropdown.no-caret
                        a#navbarDropdownDemos.nav-link.dropdown-toggle(href='#contact')
                            | Contact
                            i.fas.fa-arrow-down.dropdown-arrow
